body {
	background-color: #F0F8FF;
	color: #000000;
	font-size: 15px;
	font-family: Helvetica;
}

/*START HEADER*/
#header-nav {
	background-color: #ADD8E6;
	border-radius: 0;
	border: 0;
}

#red{
	color: #DC143C;
}

.active {
	color: #ADD8E6;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Helvetica', serif;
	color: #F0F8FF;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #F0F8FF;
	font-weight: bold;
	text-align: center;
	font-size: 1.0em;
}

#nav-list a:hover {
	background: #00008B;
}

#nav-list a span {
	background-color: #00008B;
	font-size: 1.5em;
	margin-bottom: 10px;
	padding: 10px 15px 10px;
}

#call-btn > a {
	font-size: 1.5em;
	display: block;
	margin: 0 20px;
	padding: 10px;
	border: 2px solid #fff;
	background-color: #00008B;
	color: #F0F8FF;
}

#call-btn a:hover {
	box-shadow: 0 1px 5px 1px #3b5998; 
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #F0F8FF;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
} /*END HEADER*/

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}

#copyright{
	color: #F0F8FF;
}
/*End Footer*/
/*START HOME PAGE*/

.container .jumbotron{
	width: 100%;
}

#menu-tile {
	height: 500px;
	width: 100%;
	margin-bottom: 50px;
	background-color: #ADD8E6;
	position: relative;
	overflow: hidden;
}

#menu-tile span {
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #FFFFFF;
	padding: 10px 10px 10px;
}

#menu-tile h1 {
	font-family: 'Helvetica';
	color: #000080;
	text-align: center;
	position: center;
	font-size: 2.5em;
}

.menu h1:hover, .menu h1:focus, .menu span: hover, .menu span:focus {
	text-decoration: none;
}

/*End homepage*/


/**************************Large devices only*************************/
@media(min-width: 1200px) {
	.container .jumbotron{
		background: url('../images/hospital_1200.png') no-repeat;
		height: 675px;
	}
	#certificate {
		background: url('../images/certificate_1200.png') no-repeat;
		height: 675px;
	}
}

/**************************Medium devices only************************/
@media(min-width: 992px) and (max-width: 1199px) {
	#logo-img{
		background: url('../image1/logo.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}

	.container .jumbotron{
		background: url('../images/hospital_992.png') no-repeat;
		height: 558px;
	}

	#certificate {
		background: url('../images/certificate_992.png') no-repeat;
		height: 558px;
	}
}

/**************************Small devices only*************************/
@media(min-width: 768px) and (max-width: 991px) {
	.container .jumbotron{
		background: url('../images/hospital_768.png') no-repeat;
		height: 432px;
	}
	#certificate {
		background: url('../images/certificate_768.png') no-repeat;
		height: 432px;
	}
}

/**************************Extra small devices only********************/
@media(max-width: 767px) {
	/*header*/
	.navbar-brand {				
	padding-top: 10px;
	height: 80px;
	}


	.navbar-brand h1 {			/*restaurant's name*/
	padding-top: 10px;
	font-size: 5vw;
	}

	.navbar-brand p {			/*kosher cert*/
	font-size: .6em;
	margin-top: 12px;
	}

	.navbar-brand p img {			/*star-k*/
	height: 20px;
	}

	#collapsable-nav a {			/*collapsed nav menu glyphicon*/
		font-size: 1.2em;
	}

	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}

	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
	}

	#menu-tile, #special-tile{
		width: 360px;
		margin: 0 auto 15px;
	}

	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section: nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer section hr{
		width: 50%;
	}

	.menu-item-photo{
		margin-right: auto;
	}

	.menu-item-tile .menu-item-price{
		text-align: center;
	}

	.menu-item-description{
		text-align: center;
	}
}

/************************Super extra small devices only*************/
@media(max-width: 479px){
	.navbar-brand h1{			/*Restaurant's name*/
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-tile, #special-tile{
		width: 280px;
		margin: 0 auto 15px;
	}

	.col-xxs-12{
		position: relative;
		min-height: 1px
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		float: left;
	}
} 